h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 48px;
}

h2 {
  font-size: 24px;
  color: #BA3925;
}

body {
  font-family: Georgia, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

figure {
  margin: 0 0 20px 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  font: italic 14px/24px Georgia, serif;
  padding: 10px;
  border: 1px solid rbg(204, 204, 204);
  border-top: none;
}

header p {
  font-size: 14px;
  font-style: italic;
}

#author {
  font-family: Helvetica,  Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #2455C3;
}

a.facebook {
  padding-left: 20px;
  background: #f0f099 url("facebook.png") 0 0 / 16px no-repeat;

}

blockquote {
  padding-left: 12px;
  margin-left: 0px;
  font-style: italic;
  border-left: 1px dotted #bfbfbf;
}