* {
  font-family: Arial, sans-sarif;
}

body {
  padding-top: 100px;
  background-size: 780px;
  background-image: url("img/bg_body.gif");
  background-color: #2f2840;
}

header, main, footer {
  width: 1000px;
}


header {
  margin: 0 auto;
    margin-bottom: 50px;

}

h1 {
  text-align: center;
}


main {
  margin: 110px auto 0px ;
  background-color: snow;
}

article {
  background-color: snow;
  text-align: center;
  padding: 70px;
}

article h2 {
  font-size: 40px;
  color: black;
}

article h3 {
  color:#3E98B6 ;
}

article p {
  color: grey;
  font-size: 20px;
}

footer {
  margin: 0 auto;
  padding-top: 20px;
  height: 100px;
  background-color: lightgrey;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 62px;
}

footer ul {
  margin: 0px;
  text-align: center;
}